

#teclado
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 200px;
}

.tecla
{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
